#alert {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 0.75rem;
  padding: 0.75rem;

  background-color: var(--color-danger);

  margin-top: 2.5rem;

  & #right {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    & span {
      font: var(--label);
      color: var(--always-white);
    }
  }

  & .icone-close {
    cursor: pointer;
  }
}

.hidden {
  opacity: 0;
}