:root {
  /* Background */
  --background-primary: #F4F5FB;
  --background-secondary: #FFFFFF;

  /* Brand / Actions */
  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;

  /* Content / Text */
  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #FFFFFF;

  /* Border */
  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;

  /* Fonts */
  --font-family: "Inter", sans-serif;

  --title: 700 1.5rem/2 var(--font-family);
  --label: 600 1rem/1.25 var(--font-family);
  --paragraph: 500 1rem/1.25 var(--font-family);
  --link: 500 0.875rem/1 var(--font-family);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}