header {
  /* display: flex; */
  justify-content: center;
  align-items: center;

  margin-block: 0 3rem;

  width: 100%;
}

.only-desktop {
  display: none;
}

@media (width >=48rem) {
  .only-desktop {
    display: flex;
  }
}