#title-page {
  display: flex;
  flex-direction: column;

  gap: 1rem;

  .back {
    svg {
      path {
        fill: var(--color-brand);
      }
    }

    span {
      font: var(--link);
      color: var(--color-brand);
    }
  }

  h1 {
    font: var(--title);
    color: var(--content-primary);
  }
}