#title-page {
  display: flex;
  flex-direction: column;

  gap: 1rem;

  & .back {
    cursor: pointer;
    text-decoration: none;

    width: fit-content;
    position: relative;

    & svg {
      & path {
        fill: var(--color-brand);
      }
    }

    & span {
      font: var(--link);
      color: var(--color-brand);
    }

    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--color-brand-hover);

      position: absolute;
      bottom: 0;
      left: 0;

      opacity: 0;

      transform: scaleX(0);
      transition: transform 200ms linear;
    }

    &:hover {
      & svg {
        & path {
          fill: var(--color-brand-hover);
        }
      }

      & span {
        color: var(--color-brand-hover);
      }

      &::after {
        opacity: 1;
        transform: scaleX(1);
      }
    }
  }

  h1 {
    font: var(--title);
    color: var(--content-primary);
  }
}